@model IEnumerable<employee>
@{
    ViewData["Title"] = "Index";
}

<a asp-action="Create" asp-controller="Employee" class="btn btn-success">create</a>
<table class="table table-active table-bordered table-striped table-dark">
    <thead>
        <tr>
            <td>@Html.DisplayNameFor(y=>y.name)</td>
            <td>@Html.DisplayNameFor(t=>t.age)</td>
            <td>@Html.DisplayNameFor(g=>g.address)</td>
            <td>@Html.DisplayNameFor(r=>r.Department.Deptname)</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(ww=>item.name)</td>
                <td>@Html.DisplayFor(r=>item.age)</td>
                <td>@Html.DisplayFor(ff=>item.address)</td>
                <td>@Html.DisplayFor(ss=>item.Department.Deptname)</td>
                <td>
                    <div >
                        <a asp-action="Update" asp-route-id="@item.id" class=" btn btn-success my-3">update</a>
                        <a asp-action="Delete" asp-route-id="@item.id" asp-route-name="@item.name" class=" btn btn-danger">delete</a>
                    </div>
                        </td>
            </tr>
        }
    </tbody>
</table>

